mythonTidy-1.22.py
deleted.py
6143Visited.png
6150Transfer_Entropy_matrix.png
6150Visited.png
620062000Transfer_Entropy_matrix2.png
620062000resultm2.npy
62006200Transfer_Entropy_matrix2.png
62006200resultm.npy
630063000Transfer_Entropy_matrix2.png
630063000resultm2.npy
63006300Transfer_Entropy_matrix2.png
63006300resultm.npy
640064000Transfer_Entropy_matrix2.png
640064000resultm2.npy
64006400Transfer_Entropy_matrix2.png
64006400resultm.npy
650065000Transfer_Entropy_matrix2.png
650065000resultm2.npy
65006500Transfer_Entropy_matrix2.png
65006500resultm.npy
660066000Transfer_Entropy_matrix2.png
660066000resultm2.npy
66006600Transfer_Entropy_matrix2.png
66006600resultm.npy
670067000Transfer_Entropy_matrix2.png
670067000resultm2.npy
67006700Transfer_Entropy_matrix2.png
67006700resultm.npy
680068000Transfer_Entropy_matrix2.png
680068000resultm2.npy
68006800Transfer_Entropy_matrix2.png
68006800resultm.npy
690069000Transfer_Entropy_matrix2.png
690069000resultm2.npy
69006900Transfer_Entropy_matrix2.png
69006900resultm.npy
700070000Transfer_Entropy_matrix2.png
700070000resultm2.npy
70007000Transfer_Entropy_matrix2.png
70007000resultm.npy
710071000Transfer_Entropy_matrix2.png
710071000resultm2.npy
71007100Transfer_Entropy_matrix2.png
71007100resultm.npy
720072000Transfer_Entropy_matrix2.png
720072000resultm2.npy
72007200Transfer_Entropy_matrix2.png
72007200resultm.npy
730073000Transfer_Entropy_matrix2.png
730073000resultm2.npy
73007300Transfer_Entropy_matrix2.png
73007300resultm.npy
740074000Transfer_Entropy_matrix2.png
740074000resultm2.npy
74007400Transfer_Entropy_matrix2.png
74007400resultm.npy
750075000Transfer_Entropy_matrix2.png
750075000resultm2.npy
75007500Transfer_Entropy_matrix2.png
75007500resultm.npy
760076000Transfer_Entropy_matrix2.png
760076000resultm2.npy
76007600Transfer_Entropy_matrix2.png
76007600resultm.npy
770077000Transfer_Entropy_matrix2.png
770077000resultm2.npy
77007700Transfer_Entropy_matrix2.png
77007700resultm.npy
780078000Transfer_Entropy_matrix2.png
780078000resultm2.npy
78007800Transfer_Entropy_matrix2.png
78007800resultm.npy
790079000Transfer_Entropy_matrix2.png
790079000resultm2.npy
79007900Transfer_Entropy_matrix2.png
79007900resultm.npy
800080000Transfer_Entropy_matrix2.png
800080000resultm2.npy
80008000Transfer_Entropy_matrix2.png
80008000resultm.npy
810081000Transfer_Entropy_matrix2.png
810081000resultm2.npy
81008100Transfer_Entropy_matrix2.png
81008100resultm.npy
820082000Transfer_Entropy_matrix2.png
820082000resultm2.npy
82008200Transfer_Entropy_matrix2.png
82008200resultm.npy
830083000Transfer_Entropy_matrix2.png
830083000resultm2.npy
83008300Transfer_Entropy_matrix2.png
83008300resultm.npy
840084000Transfer_Entropy_matrix2.png
840084000resultm2.npy
84008400Transfer_Entropy_matrix2.png
84008400resultm.npy
85 4Excitatory_connection_matrix.png
85 4Inhibitory_connection_matrix.png
850085000Transfer_Entropy_matrix2.png
850085000resultm2.npy
85008500Transfer_Entropy_matrix2.png
85008500resultm.npy
860086000Transfer_Entropy_matrix2.png
860086000resultm2.npy
86008600Transfer_Entropy_matrix2.png
86008600resultm.npy
870087000Transfer_Entropy_matrix2.png
870087000resultm2.npy
87008700Transfer_Entropy_matrix2.png
87008700resultm.npy
880088000Transfer_Entropy_matrix2.png
880088000resultm2.npy
88008800Transfer_Entropy_matrix2.png
88008800resultm.npy
890089000Transfer_Entropy_matrix2.png
890089000resultm2.npy
89008900Transfer_Entropy_matrix2.png
89008900resultm.npy
900090000Transfer_Entropy_matrix2.png
900090000resultm2.npy
90009000Transfer_Entropy_matrix2.png
90009000resultm.npy
910091000Transfer_Entropy_matrix2.png
910091000resultm2.npy
91009100Transfer_Entropy_matrix2.png
91009100resultm.npy
920092000Transfer_Entropy_matrix2.png
920092000resultm2.npy
92009200Transfer_Entropy_matrix2.png
92009200resultm.npy
930093000Transfer_Entropy_matrix2.png
930093000resultm2.npy
93009300Transfer_Entropy_matrix2.png
93009300resultm.npy
940094000Transfer_Entropy_matrix2.png
940094000resultm2.npy
94009400Transfer_Entropy_matrix2.png
94009400resultm.npy
950095000Transfer_Entropy_matrix2.png
950095000resultm2.npy
95009500Transfer_Entropy_matrix2.png
95009500resultm.npy
960096000Transfer_Entropy_matrix2.png
960096000resultm2.npy
96009600Transfer_Entropy_matrix2.png
96009600resultm.npy
970097000Transfer_Entropy_matrix2.png
970097000resultm2.npy
97009700Transfer_Entropy_matrix2.png
97009700resultm.npy
980098000Transfer_Entropy_matrix2.png
980098000resultm2.npy
98009800Transfer_Entropy_matrix2.png
98009800resultm.npy
990099000Transfer_Entropy_matrix2.png
990099000resultm2.npy
99009900Transfer_Entropy_matrix2.png
99009900resultm.npy
Active_Informationst11000.png
Active_Informationst2143.png
Active_Informationst4143.png
Active_Informationst4185.png
Active_Informationst42289.png
Active_Informationst485.png
Excitatory_Adjacency_Matrix.png
File_neuroexplorer_2.nex
File_plexon_3.plx
File_spike2_1.smr
Inhibitory_Adjacency_Matrix.png
LiClipse Workspace/
NMDA.mod~
Nr5a1-Cre_Ai14_IVSCC_-177334.05.01.01_471120787_m.swc
README.md.BACKUP.3172.md
README.md.BACKUP.3223.md
README.md.BASE.3172.md
README.md.BASE.3223.md
README.md.LOCAL.3172.md
README.md.LOCAL.3223.md
README.md.REMOTE.3172.md
README.md.REMOTE.3223.md
README.md.orig
README.md~
Rbp4-Cre_KL100_Ai14_IVSCC_-180747.02.01.01_475244723_m.swc
Rorb-IRES2-Cre-D_Ai14_IVSCC_-168053.05.01.01_325404214_m.swc
Rorb-IRES2-Cre-D_Ai14_IVSCC_-168053.06.01.01_469628773_m.swc
Scnn1a-Tg2-Cre_Ai14_IVSCC_-171062.06.02.01_470548707_m.swc
Scnn1a-Tg3-Cre_Ai14_IVSCC_-177300.01.02.01_473845048_m.swc
Transfer_Entropy_Matrix_NCELL1000.png
Transfer_Entropy_Matrix_NCELL10002.png
VISal_167794131_Rbp4-Cre_KL100.nrrd
VISal_272736450_Cux2-IRES-Cre.nrrd
VISal_297231636_Tlx3-Cre_PL56.nrrd
__init__.pyc
_spt.dat
adj_mat_hoc.txt
allfileshas.txt
allmemb.p
analysis.hoc
analysis2.hoc
analysisp2.pyc
analysisp3.pyc
analysisp4.pyc
axon.txt
backup.hoc
badindexfile
badindexfile.sh
basalforebrainregion.txt
basalganglia_region.txt
bigfile.guff
bigobjects.txt
biophyseverything.hoc
biphysaspiny.hoc
brain_functions.pyc
bsmart.pyc
calcrxc.hoc
cat.jpg
cell.hoc~
cellCheck.hoc
cell_positions.hoc
central.hoc
checkmemb14.hoc
checkmemb15.hoc
checkmemb16.hoc
chord.js~
cngrid.csv
cngrid.txt
cngrid2.csv
cngrid2.csv~
cngrid2.txt
cngrid3.txt
community.pyc
connectivity/
cosmetic.hoc
cylinders.hoc
dat.tar.gz
data.nqs
datarun.hoc
debug.log
debug.txt
debug_code.pyc
debut_out.txt
declist.hoc
decvec.hoc
deletedmod/
dend.txt
description.css
description.css~
email_to_paul
email_to_paul~
errors.txt
example.nrrd
excitatory_matrix.p
experiment_detail_example.ipynb
experimentalrig.hoc
expsid.mod~
fastwire.txt
fft.hoc
fi.mod~
field.hoc
file_list.txt
final_nte.png
find_distances_.hoc
find_distances_.hoc~
find_distances_22.hoc~
find_gap_j.hoc~
force.py
force/
functions.hoc
gdb.in
genuinice_network_template.hoc
git_add_file.sh
git_add_file.sh~
git_script.sh
git_script.sh~
goodindexfile
graph_voltage_traces.hoc
graph_voltage_traces2.hoc
graph_voltage_traces5.hoc
hashable.pyc
hippocampus_region.txt
hs_err_pid10795.log
http_server.py
http_server.pyc
index.html~
index2.html~
index3.html~
infodynamics.jar
inhibitory_matrix.p
init.hoc
init0.hoc
init1.hoc
init2.hoc
init3.hoc
init3.hoc~
initp.hoc
initp.hoc~
initpar2.pyc
inputs_for_correlation.hoc
instrumentation.hoc
instrumentation.hoc~
intfsw.hoc
ipc.pyc
isi.hoc
isi.hoc~
isip.hoc
isip.hoc~
js/excitatory_network.json
js/index.html~
js/inhibitory_network.json
js/network.json
js/network2.js
js/sigma.layout.forceAtlas2.min.js
js/sigma.min.js
js/sigma.parsers.json.min.js
lfp2here.txt
lfphere.txt
list_aspiny_cell.txt
list_interneurons.txt
load_morphologies20.hoc
load_swc4.hoc
logfile.py
main/
matrix.hoc
memb.hoc
memb10.hoc
memb10p.hoc
memb11p.hoc
memb11p.hoc~
memb12p.hoc
memb13p.hoc
memb13p.hoc~
memb14.hoc
memb14p.hoc
memb14p.hoc~
memb2.hoc
memb3.hoc
memb4.hoc
memb5.hoc
memb6.hoc
memb7.hoc
memb8.hoc
memb9.hoc
memb_errs.txt
memberrs.txt
missfont.log
model_info.md
moderror.txt
moderror2.txt
morph2.hoc
morph2.hoc~
morph3.hoc
morph4.hoc~
morph5.hoc~
mouse_connectivity1.png
mpicontroller.sh
mpicontroller.sh~
mycode3.hoc
mycode3.hoc~
names.txt
names2.txt
neocortex_region.txt
netcon.inc
netcon.inc~
netrand.inc
network.hoc
neuron_models_from_query_builder.json
npm-debug.log
nqs.hoc
nte2_pruned_0_fast_wire_0_tstop_5
nte2_pruned_0_fast_wire_1_tstop_5
nte_pruned_0_fast_wire_0_tstop_5
nte_pruned_0_fast_wire_1_tstop_5
octave-core
octave-workspace
ofc.inc
open_results.hoc
out.txt
parallelboot.hoc
param.hoc
param2.hoc
param3.hoc
param4.hoc
param6.hoc
paths_ff_file.txt
plotting.hoc
post_analysis.hoc
post_analysis2.hoc
post_analysis3.hoc
post_analysis4.hoc
post_analysis5.hoc
post_analysis6.hoc
post_analysis6.hoc~
post_analysis7.hoc
post_analysis7.hoc~
post_analysisp.hoc
post_analysisp.hoc~
post_analysisp2.hoc
post_analysisp2.hoc~
post_processing.hoc
postnt.p
pr.hoc
prent.p
process_cell_positions.hoc
psectionfile.txt
pwire.hoc
pwire.hoc~
pyhoc.pyc
pyramidal_cell_14Vb.hoc~
pyramidalcell.txt
pyramidbiophys.hoc
ranstream.hoc
rap.pbs
rasa.pbs
resultsentropy.txt
rig.hoc
rig2.hoc
rig3.hoc
rig4.hoc
rig5.hoc
rig6.hoc
rig7.hoc
rig7.hoc~
rig8.hoc
rigp.hoc
rigp.hoc~
rigp.pyc
rigp.py~
rsp.pbs
rsp1.o228664
screenlog.0
seclists.hoc
seclists.hoc~
segment_distance.pyc
setup.hoc
sgctest.png
sparse.txt
spike
spikes_colour_coded1004.png
spikes_colour_coded1174.png
spikes_colour_coded1176.png
spikes_colour_coded1178.png
spikes_colour_coded1436.png
spikes_colour_coded1506.png
spikes_colour_coded22894.png
spikesbw.png
spikesbw1004.png
spikesbw1174.png
spikesbw1176.png
spikesbw1178.png
spikesbw1436.png
spikesbw1506.png
spikesbw1854.png
spikesbw22894.png
spikesbw2308256.png
spikesbw2894.png
spikesbw854.png
spkaxon.txt
spkdend.txt
spkplt.nqs
stellate.hoc
stim_cell.hoc
structure.py
structure2.py
structure2.pyc
structure3.py
structure_only.hoc
strucure_only.hoc
style.css
style.css~
sum_data.txt
summary_txt010251.0021.0172
summary_txt010251.0021.0176
summary_txt025001.007.0130
summary_txt027251.0019.0172
summary_txt027251.0021.0176
summary_txt035001.0019.0172
summary_txt07251.0019.0172
summed_Transfer_Entropy_matrix.png
supplament.hoc
supplament.hoc~
swc_names.txt
tematrices/
test.hoc
tools.hoc
tools.hoc~
trent.R
tstopfile
unnecessary/
use_local_connectivity.py
use_local_files.c
use_local_files.py.orig
use_local_files.py~
user_layer_tutorial.txt~
utils.c
utils.py.orig
utils.pyc
utils3.pyc
utilstest.pyc
vecevent.mod
version.pyc
visited_Adjacency_Matrix.png
voltages.txt
wiring.log
x86_64/
xtmp
#debug_file.txt#
#find_distances_.hoc#
#index.html#
#instrumentation.hoc#
#morph4.hoc#
#rig7.hoc#
#rig8.hoc#
#seclists.hoc#
#use_local_files.py#
.#morph4.hoc
0 256traces_all.png
0\ 4traces_all.png
0\ 6traces_all.png
0\ 8traces_all.png
010001000Transfer_Entropy_matrix2.png
010001000resultm2.npy
0100100Transfer_Entropy_matrix2.png
0100100resultm2.npy
019901990Transfer_Entropy_matrix2.png
02490249Transfer_Entropy_matrix2.png
02490249resultm2.npy
03030Transfer_Entropy_matrix2.png
03030resultm2.npy
0303Transfer_Entropy_matrix2.png
0303resultm.npy
050005001resultm2.npy
05000500resultm.npy
0500100015001resultm2.npy
050010001500resultm.npy
0500150020001resultm2.npy
050015002000resultm.npy
050050010001resultm2.npy
05005001000resultm.npy
0ie2_aftercollating.png
#debug.#
#debug_file.txt#
#find_distances_.hoc#
#index.html#
#instrumentation.hoc#
#morph4.hoc#
#rig7.hoc#
#rig8.hoc#
#seclists.hoc#
#use_local_files.py#

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
